<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.educationalDomain.Wipro.Scripts.TestCase1"/>
      <class name="com.educationalDomain.Wipro.Scripts.TestCase2"/>
      <class name="com.educationalDomain.Wipro.Scripts.TestCase3"/>
      <class name="com.educationalDomain.Wipro.Scripts.TestCase4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
